<%- include('./partials/header') %>

<% if (username) { %>
  <span class="navbar-text text-dark ml-auto mr-3">
    Hello, <%= username %>!
  </span>
  <form action="/sign_out" method="POST" class="form-inline">
    <button class="btn btn-outline-light" type="submit">
      Sign Out
    </button>
  </form>
<% } else { %>
  <form
    action="/sign_in"
    method="POST"
    class="form-inline ml-auto"
  >
    <input
      class="form-control mr-sm-2"
      name="username"
      placeholder="Username..."
    />
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
      Sign In
    </button>
  </form>
<% } %>

<%- include('./partials/footer') %>
